/* Tamaño base del documento */
html {
  font-size: 15px;
  padding-bottom: 100px;
}

body {
  font-size: 1rem;/* 1rem = 14px ahora */
  padding-top: 10px;
}

/* Títulos */
.titulo{
  font-size: 2.6rem;
  text-align: center;
  margin-top: 40px;

}

/* h1 {font-size: 2.4rem; text-align: center; padding-bottom: 10px} */
h1 {font-size: 1.4rem;
    color: white !important;
    background-color: #0C5387;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5px;
    margin-top: 35px;
    margin-bottom: 30px;
}
h2 {font-size: 1.2rem;
    background-color: lightblue;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 5px;
    margin-top: 30px;
    margin-bottom: 28px;
}
h3 {font-size: 1.1rem;
    padding-bottom: 8px;
    padding-top: 6px;
    font-weight: bold;
}
    
/* Tablas */
table {
  font-size: 0.9rem !important;
}

th, td {
  font-size: 0.9rem !important;
}

@media print {

  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;}

  /* h1 strong {color: #141414 !important;}} */
  
  h1 {
    background-color: #0C5387 !important;
    color: #ffffff !important;}

  h1 strong {color: #ffffff !important;}

  h2 {
    background-color: lightblue !important;
    color: #141414 !important;}

  h2 strong {color: #141414 !important;}}

@page {
  size: A4;
  margin-top: 3cm;
  margin-bottom: 3cm;
  margin-left: 1.7cm;
  margin-right: 1.7cm;
}

/* Contenedor flex que alinea y estira "hijos"" */
.flex-container {
  display: flex;
  align-items: stretch; /* hace que los hijos tengan la misma altura */
  height: 210px;
  padding-top: 10px;
  margin-bottom: 30px;
}

/* Cada columna ocupa 50% y respeta el padding */
.flex-item-left {
  width: 50%;
  padding-right: 15px;
}

.flex-item-right {
  width: 50%;
  padding-left: 15px;
}

/* Contenedor para tablas grabadoras */

.tabla-grab {
  margin-top: 18px;
  margin-bottom: 25px;
}

/* El mapa ocupa todo el ancho y altura del contenedor */
.flex-item-right .leaflet-container {
  width: 100% !important;   /* todo el ancho de la columna */
  height: 100% !important;  /* altura igual al contenedor */
  min-height: 195px;        /* altura mínima para que no se vea muy pequeño */
}

.card-graficos {
  border:none;
}

.card-equipo {
  border:none;
}

.agradecimientos {
  font-size: 1.8rem;
  text-align: center;
  padding-top: 40px;
  color: #0C5387;
}